.icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-delete {
    background-image: url("../images/icons/ic-delete.svg");
}

.icon-delete-white {
    background-image: url("../images/icons/ic-delete-white.svg");
}

.icon-resend {
    background-image: url("../images/icons/ic-resend.svg");
}

.icon-resend-white {
    background-image: url("../images/icons/ic-resend-white.svg");
}

.icon-bar {
    background-image: url("../images/icons/ic-bar.svg");
}

.icon-close {
    background-image: url("../images/icons/ic-close.svg");
}

.icon-user-invite {
    background-image: url("../images/icons/ic-user-invite.svg");
}

.icon-arrow-down {
    background-image: url("../images/icons/ic-arrow.svg");
}

.icon-arrow-up {
    background-image: url("../images/icons/ic-arrow.svg");
    transform: rotate(180deg);
}

.icon-search {
    background-image: url("../images/icons/ic-search.svg");
}

.icon-chats {
    background-image: url("../images/icons/ic-chats.svg");
}

.icon-whatsapp {
    background-image: url("../images/icons/ic-whatsapp.svg");
}

.icon-statistics {
    background-image: url("../images/icons/ic-statistics.svg");
}

.icon-team {
    background-image: url("../images/icons/ic-team.svg");
}

.icon-subscription {
    background-image: url("../images/icons/ic-subscription.svg");
}

.icon-mass-messaging {
    background-image: url("../images/icons/ic-mass-messaging.svg");
}

.icon-pipedrive {
    background-image: url("../images/icons/ic-pipedrive.svg");
}

.icon-zoho {
    background-image: url("../images/icons/ic-zoho.svg");
}

.icon-monday {
    background-image: url("../images/icons/ic-monday.svg");
}

.icon-zapier {
    background-image: url("../images/icons/ic-zapier.svg");
}

.icon-integrations {
    background-image: url("../images/icons/ic-integrations.svg");
}

.icon-chatgpt {
    background-image: url("../images/icons/ic-chatgpt.svg");
}

.icon-help {
    background-image: url("../images/icons/ic-help.svg");
}

.icon-roadmap {
    background-image: url("../images/icons/ic-roadmap.svg");
}


.icon-chrome {
    background-image: url("../images/icons/ic-chrome.svg");
}

.icon-hubspot {
    background-image: url("../images/icons/ic-hubspot.svg");
}